<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Calculator</title>
</head>
<body>
<form action="operation" method="get" style="padding :10px ; margin:10px">

        Number-1 <input type="text" name="num1" style="margin:10px">
        Number-2 <input type="text" name="num2"><br><br>
        Result: {{result}}<br><br>
        <button name="op" type="submit" value="plus" style="padding:10px; margin:10px">&plus;</button>
        <button name="op" type="submit" value="minus" style="padding: 10px;">&minus;</button><br>
        <button name="op" type="submit" value="mul" style="padding:10px; margin:10px">&times;</button>
        <button name="op" type="submit" value="divide" style="padding : 10px; ">&divide;</button>
</form>

</body>
</html>